<footer class="bg-indigo-300 py-6">
  <div class="w-10/12 m-auto flex justify-between items-center">
    <h2 class="text-white text-3xl font-bold font-lobister">Shary</h2>

    <ul>
      <li>
        <a class="text-white hover:underline" href="/contact"
          >Entre em contato</a
        >
      </li>
      <li>
        <a class="text-white hover:underline" href="/feedback">
          Deixe seu Feedback
        </a>
      </li>
      <li>
        <a class="text-white hover:underline" href="/about">Sobre</a>
      </li>
    </ul>
  </div>
</footer>
