<header class="bg-indigo-300">
  <div
    class="w-10/12 h-4/5 m-auto flex py-5 px-2 justify-between items-center"
  >
    <a href="/homepage" class="text-white text-3xl font-bold font-lobister">Shary</a>

    <nav>
      <ul class="flex gap-4 text-1xl text-white items-center">
        <li>
          <a href="" class="font-inter font-bold underline select-none"><span>13</span> Seguidores</a>
        </li>
        <li>
          <a href="" class="font-inter font-bold underline select-none"><span>44</span> Seguindo</a>
        </li>
        <li>
          <label class="bg-white p-2 rounded-full flex items-center gap-4">
            <ion-icon name="search-sharp" class="text-indigo-400 text-2xl cursor-pointer"></ion-icon>
            <input type="search" placeholder="Pesquisar" class="font-inter outline-none text-indigo-950" />
          </label>
        </li>
        <li>
          <a href="">
            <img
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="foto-de-perfil"
              class="w-14 h-14 rounded-full object-cover border-4 border-indigo-500 hover:border-indigo-700 transition-colors	duration-200"
            />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
