<header class="bg-indigo-300  py-6">
  <div class="w-10/12 flex justify-between m-auto items-center">
    <a href="/">
      <h1 class="text-white text-3xl font-bold font-lobister">Shary</h1>
    </a>
    
    <nav>
      <ul class="flex gap-4 text-1xl text-white">
        <li><a class="hover:underline" href="/signin">Sign in</a></li>
        <li><a class="hover:underline border border-2 p-2 rounded-md" href="/signup">Sign up</a></li>
      </ul>
    </nav>
  </div>
</header>
