<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./configs/head.ejs") %>
    <title>Shary - Homepage</title>
    <link rel="stylesheet" href="styles/homepage.css">
  </head>
  <body class="bg-indigo-50 h-full">
    <%- include("./layouts/header_homepage.ejs")%>
  
    
    <div
        class="flex items-center bg-white border rounded-3xl p-4 my-4 gap-10"
      >
        <img
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="foto-de-perfil"
          class="w-12 h-12 rounded-full object-cover"
        />

        <div class="flex items-center w-full bg-indigo-100 rounded-full p-1">
          <input
            type="text"
            name="post"
            id="post-input"
            placeholder="O que há de novo?"
            class="h-8 w-full rounded-full pl-4 rounded-r-md outline-none bg-indigo-100"
            
          />
        <input type="file" id="loadImages">
        </div>

        <button
          class="rounded-full bg-indigo-300 p-4 w-32 text-white font-bold transition-colors duration-200 hover:bg-indigo-400 font-sora select-none"
          id="post1"
        >
          Publicar
        </button>
      </div>
    <div id="main"></div>
    <script src="scripts/homepage/postF.js"></script><!---->
    <script type="module" src="scripts/homepage/carregarPosts.js"></script>
    <script type="module" src="scripts/homepage/objeto.js"></script>
    <%- include("./layouts/footer.ejs")%>
  </body>
</html>
