<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include("./configs/head.ejs")%>
    <title>Shary - Home</title>
  </head>
  <body>
    <%- include("./layouts/header.ejs") %>

    <main>
      <h1>Home</h1>
    </main>

    <%- include("./layouts/footer.ejs")%>
  </body>
</html>
